.navbar p a {
    color: #B4CEB3;
}

.resort-container {
    display: flex;
    justify-content: space-evenly;
    height: 1000px;
    align-items: center;
}

<<<<<<< HEAD
=======
.resort-content {
    padding-left: 25px;
    font-size: 1.25rem;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
>>>>>>> resort-page
