

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
}

/**  Max Width Container for all pages. **/
.container {
    max-width: 1536px;
    margin: 0 auto !important; 
	float: none !important
}

header {
    background-color: white;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

footer {
    display: flex;
    height: 100px;
    background-color: #B4CEB3;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

footer img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

footer p {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

/** Navigation Bar **/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #B4CEB3;
    padding: 15px 0 15px 0;
}

.navbar img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}

.navbar p {
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar div {
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.navbar li a:hover {
    color: #B4CEB3;
}

.navbar li a:active {
    color: #B4CEB3;
}

.navbar button {
    background-color: #B4CEB3;
    color: black;
    border-radius: 10px;
    font-size: 1.15rem;
    width: 150px;
    height: 50px;
    padding-right: 10px;
    font-weight: bold;
    border: none;
}

.navbar button:hover {
    color: white;
    box-shadow: 2px 2px black;
}

.section-heading {
    text-align: center;
    padding: 60px 0 60px 0;
    font-size: 64px;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #B4CEB3;
}